<html lang="en">
    <head>
        <title>update</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body bgcolor="#fce7dd">
        <div class="one">
            <div class="two">
                <h1>Menu główne</h1>
                <ul>
                    <li><a href="{{url_for('index')}}">Strona główna</a></li>
                    <li><a href="{{url_for('display')}}">Dane użytkownika</a></li>
                    <li class="active"><a href="{{url_for('update')}}">Zmień dane</a></li>
                    <li><a href="{{url_for('logout')}}">Wyloguj się</a></li>
                </ul>
            </div>
            <div class="content" align="center">
                <div class="topbar">
                    <h2>Aktualizacja danych użytkownika</h2>                       
                </div></br></br>
                <div class="contentbar">
                  <h1>Wypełnij formularz</h1></br>
              <form action="{{ url_for('update') }}" method="post" autocomplete="off">
                    <div class="msg">{{ msg }}</div>
                    <input type="text" name="username" placeholder="Nazwa użytkownika" class="textbox" id="username" required></br></br>
                    <input type="password" name="password" placeholder="Hasło" class="textbox" id="password" required></br></br>
                    <input type="email" name="email" placeholder="Adres e-mail" class="textbox" id="email" required></br></br>
                    <input type="text" name="organisation" placeholder="Organizacja" class="textbox" id="organisation" required></br></br>
                    <input type="text" name="address" placeholder="Adres zamieszkania" class="textbox" id="address" required></br></br>
                    <input type="text" name="city" placeholder="Miasto" class="textbox" id="city" required></br></br>
                    <input type="text" name="state" placeholder="Województwo" class="textbox" id="state" required></br></br>
                    <input type="text" name="country" placeholder="Kraj" class="textbox" id="country" required></br></br>
                    <input type="text" name="postalcode" placeholder="Kod pocztowy" class="textbox" id="postalcode" required></br></br>
                    <input type="submit" class="btn" value="Zaktualizuj">
              </form>                    
                </div> 
                 
            </div>
        </div>
    </body>
</html>